rect.label-background{
	fill: none;
	stroke: rgba(0,0,0,10%);
	stroke-width: 1mm;
}

@media print {
	rect.label-background{
		stroke: none !important;
	}
}

rect.label-border{
	stroke: none;
	fill: none;
}

text{
	font-family: "Wales Sans Body";
}